openai==0.27.0
langchain==0.0.145
langchain-huggingface==0.0.13
langchain_openai==0.1.2
langchain_core==0.0.5
langchain_community==0.0.12
faiss-cpu==1.7.3
pandas==1.5.3
llama_index==0.5.2
huggingface-hub==0.16.4
pytorch==1.12.1
numpy==1.23.5
openai==0.27.0
